{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h1>Buy Coffee</h1>
        <p>Your donation helps us continue our mission.</p>
      <!--
        <form action="{% url 'wallpaper_app:buy_us_coffee' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <div>
                <label for="amount">Donation Amount (USD):</label>
                <input type="number" name="amount" id="amount" required min="1">
            </div>

            <!-- Stripe Payment --
            <button type="submit" id="stripe-button">Donate with Stripe</button>

            <!-- PayPal Payment --
            <div id="paypal-button-container"></div>
        </form>
        -->
    </div>

    <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a href="https://www.paypal.com/paypalme/Adilwallpapers?v=1&utm_source=unp&utm_medium=email&utm_campaign=RT000481&utm_unptid=b445aed0-5c7a-11ef-a6b5-3cecef45c76a&ppid=RT000481&cnac=KE&rsta=en_US%28en-KE%29&cust=QTG5RMR2VUKQL&unptid=b445aed0-5c7a-11ef-a6b5-3cecef45c76a&calc=ce286eed60f86&unp_tpcid=ppme-social-business-profile-created&page=main%3Aemail%3ART000481&pgrp=main%3Aemail&e=cl&mchn=em&s=ci&mail=sys&appVersion=1.273.0&tenant_name=PAYPAL&xt=145585%2C104038&link_ref=paypalme_adilwallpapers" class="btn btn-primary">Paypal</a>
                    </div>
                </div>
            </div>

    <script>
        // Stripe Integration
        var stripe = Stripe('your-stripe-public-key');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#stripe-button');

        // PayPal Integration
        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: document.getElementById('amount').value
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    alert('Donation successful, thank you!');
                });
            }
        }).render('#paypal-button-container');
    </script>

{% endblock %}