{% extends "base.html" %}
{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Wallpaper">
            </div>
            <div class="col-md-6">
                <h1>Wallpaper Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia, turpis eget pretium malesuada, lacus arcu blandit dolor, eget lacinia orci orci sit amet metus.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>

    {% endblock%}

